# Ignorar variables de entorno privadas
.env

# Ignorar archivos temporales y cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.vscode/
.idea/

# Ignorar base de datos local y estados temporales
db.sqlite3
*.sqlite3
historial_apuestas.json*
jugadas_lunes_15.json

